<% if obj.errors.any? %>
  <div class="error-summary">
    <h3>The following errors occurred:</h3>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>