<h1>Your recipe has been published!</h1>
<p>
  Hello <%= @user.username %>,
</p>
<p>
  Your recipe "<%= @recipe.title %>" has been successfully published to Recipe Sharing Platform.
</p>
<p>
  View your recipe: <%= link_to @recipe.title, recipe_url(@recipe) %>
</p>